<div class="comment-container">
  <div class="comment-here">
    <textarea
      name="comment"
      id="comment-me"
      placeholder="I think ..."
      rows="4"
    ></textarea>
    <button type="submit">Comment</button>
  </div>
  <hr />
  <div class="load-comments">
    <div class="person-commented">
      <div class="user">
        <img
          src="https://images.unsplash.com/photo-1644904105846-095e45fca990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbiUyMGltYWdlfGVufDB8fDB8fHww"
          alt=""
          width="50"
          height="50"
          loading="eager"
        />
        <strong class="name">type@ritik</strong>
      </div>
      <div class="commented">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
          quibusdam aliquid
        </p>
      </div>
    </div>
    <div class="person-commented">
      <div class="user">
        <img
          src="https://images.unsplash.com/photo-1644904105846-095e45fca990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbiUyMGltYWdlfGVufDB8fDB8fHww"
          alt=""
          width="50"
          height="50"
          loading="eager"
        />
        <strong class="name">type@ritik</strong>
      </div>
      <div class="commented">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
          quibusdam aliquid
        </p>
      </div>
    </div>
    <div class="person-commented">
      <div class="user">
        <img
          src="https://images.unsplash.com/photo-1644904105846-095e45fca990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbiUyMGltYWdlfGVufDB8fDB8fHww"
          alt=""
          width="50"
          height="50"
          loading="eager"
        />
        <strong class="name">type@ritik</strong>
      </div>
      <div class="commented">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
          quibusdam aliquid
        </p>
      </div>
    </div>
    <div class="person-commented">
      <div class="user">
        <img
          src="https://images.unsplash.com/photo-1644904105846-095e45fca990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbiUyMGltYWdlfGVufDB8fDB8fHww"
          alt=""
          width="50"
          height="50"
          loading="eager"
        />
        <strong class="name">type@ritik</strong>
      </div>
      <div class="commented">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
          quibusdam aliquid
        </p>
      </div>
    </div>
    <div class="person-commented">
      <div class="user">
        <img
          src="https://images.unsplash.com/photo-1644904105846-095e45fca990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbiUyMGltYWdlfGVufDB8fDB8fHww"
          alt=""
          width="50"
          height="50"
          loading="eager"
        />
        <strong class="name">type@ritik</strong>
      </div>
      <div class="commented">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
          quibusdam aliquid
        </p>
      </div>
    </div>
    <div class="person-commented">
      <div class="user">
        <img
          src="https://images.unsplash.com/photo-1644904105846-095e45fca990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbiUyMGltYWdlfGVufDB8fDB8fHww"
          alt=""
          width="50"
          height="50"
          loading="eager"
        />
        <strong class="name">type@ritik</strong>
      </div>
      <div class="commented">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
          quibusdam aliquid
        </p>
      </div>
    </div>
  </div>
</div>
