<div class="footer-container container">
  <h2>Xtra Viz Times</h2>
  <div class="foot-divide">
    <div class="grid">
      <ul class="col news">
        <li class="strong">NEWS</li>
        <li>Home Page</li>
        <li>World</li>
        <li>Politics</li>
        <li>Business</li>
        <li>Tech</li>
      </ul>
      <ul class="col arts">
        <li class="strong">NEWS</li>
        <li>Home Page</li>
        <li>World</li>
        <li>Politics</li>
        <li>Business</li>
        <li>Tech</li>
      </ul>
      <ul class="col lifestyle">
        <li class="strong">NEWS</li>
        <li>Home Page</li>
        <li>World</li>
        <li>Politics</li>
        <li>Business</li>
        <li>Tech</li>
      </ul>
      <ul class="col opinion">
        <li class="strong">NEWS</li>
        <li>Home Page</li>
        <li>World</li>
        <li>Politics</li>
        <li>Business</li>
        <li>Tech</li>
      </ul>
      <ul class="col more">
        <li class="strong">NEWS</li>
        <li>Home Page</li>
        <li>World</li>
        <li>Politics</li>
        <li>Business</li>
        <li>Tech</li>
      </ul>
    </div>
    <div class="acc">
      <ul class="acc-1">
        <li class="acc-2 strong">ACCOUNT</li>
        <li><i class="fa-solid fa-subscript"></i>Subscibe</li>
        <li><i class="fa-solid fa-user"></i>Manage My Account</li>
        <li><i class="fa-solid fa-house"></i>Home Delivery</li>
        <li><i class="fa-solid fa-gift"></i>Gift Subsciptions</li>
      </ul>
    </div>
  </div>
  <div class="cp-rights">
    <ul class="rights-policy">
      <li>&copy; <span>2025 The Xtra Viz Times</span></li>
      <li>XVTCo</li>
      <li>Contact us</li>
      <li>Accessibility</li>
      <li>Work with us</li>
      <li>Advertise</li>
      <li>Xtra Studio</li>
      <li>Your Ad Choices</li>
      <li>Privacy Policy</li>
      <li>Terms of Service</li>
      <li>Terms of Sale</li>
      <li>Site Map</li>
      <li>Help</li>
      <li>Subscriptions</li>
    </ul>
  </div>
</div>
