<div class="container head-container">
  <div class="top-flex-section">
    <div class="search-div">
      <input
        type="search"
        name="search"
        id="search"
        placeholder="Search ..."
      /><i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="language">
      <ul>
        <li>Eng</li>
        <li>Hi</li>
        <li>Jp</li>
        <li>Ch</li>
      </ul>
    </div>
    <div class="users">
      <div class="cart">
        <i class="fa-solid fa-cart-plus"></i>
      </div>
      <div class="user-acc">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
  </div>
  <hr />
  <div class="mid-logo">
    <h1>Xtra Viz Times</h1>
  </div>
  <hr />
  <div class="topic-flex-section">
    <ul>
      <li><a href="">Business</a></li>
      <li><a href="">Technology</a></li>
      <li><a href="">Games</a></li>
      <li><a href="">Fundrasor</a></li>
      <li><a href="">A.I.</a></li>
    </ul>
  </div>
</div>
<script src="../../js/script.js"></script>
